@model WebApplication3.CVM.RecipeComCVM

@{
    ViewBag.Title = "printRecipes";
}




<!-- Receipe Slider -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="receipe-slider owl-carousel">
                <img src="https://www.simplyrecipes.com/wp-content/uploads/2007/01/basic-tomato-sauce-horiz-a-1200.jpg" alt="">
                <img src="~/images/bg-img/bg5.jpg" alt="">
                <img src="~/images/bg-img/bg5.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="receipe-headline my-5">
                    <span>April 05, 2018</span>
                    <h2>@Model.recipes.Name</h2>
                    <div class="receipe-duration">
                        <h6>Prep: @Model.recipes.tempsdepreparation mins</h6>
                        <h6>Cook: @Model.recipes.tempsdecuisson mins</h6>
                        <h6>Yields: @Model.recipes.nombrePers Servings</h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-centered" style="margin-top: 54px;" id="reco">
                @if (Model.recipes.recommanded)
                {
                    <img src="~/images/remended.jpg" class="img-fluid" alt="Responsive image">
                }
            </div>
            <div class="col-12 col-md-4">
                <div class="receipe-ratings text-right my-5">
                    <div class="ratings">
                        @{int conter = int.Parse(Model.recipes.difficulty);}
                        @for (var i = 0; i < 5; i++)
                        {
                            if (conter > 0)
                            {
                                <i class="fa fa-star" aria-hidden="true"></i>
                                conter--;
                            }
                            else
                            {
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            }
                        }



                    </div>




                    @if (int.Parse(Model.recipes.difficulty) < 3)
                    {
                        <a href="#" class="btn delicious-btn"> For Beginer</a>
                    }
                    else
                    {
                        <a href="#" class="btn delicious-btn"> For Professionel</a>

                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- Single Preparation Step -->
                @{
                    string[] explain = Model.recipes.explication.Split('\n');
                    ;
                }
                @for (var i = 0; i < explain.Length; i++)
                {
                    <div class="single-preparation-step d-flex">
                        <h4>@(i + 1)</h4>
                        <p>@explain[i]</p>
                    </div>
                }

            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4>Ingredients</h4>
                    @{
                        string[] ingreds = Model.recipes.ingredients.Split('&');
                        int count = 1;
                    }
                    @foreach (string x in ingreds)
                    {
                        string[] ingred = x.Split(':');
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck@(count)">
                            <label class="custom-control-label" for="customCheck@(count++)"> @ingred[0].ToUpper() @ingred[1]</label>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="fb-share-button"
             data-href="https://www.your-domain.com/your-page.html"
             data-layout="button_count">
        </div>
        @if (Session["Log"] != null)
        {
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-left">
                        <h3>Leave a comment</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                        <form id="frmAdd">

                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" value="@Session["Log"]" readonly>
                                </div>

                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn delicious-btn mt-30">Post Comments</button>
                                </div>
                                <input data-val="true" data-val-required="Le champ Id est requis." hidden="" id="recipes_Id" name="recipesId" required="" type="text" value="@Model.recipes.Id" />



                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <section class="comment-section">
                @for (int i = 0; i < Model.comments.Count; i++)
                {
                    if (i % 2 == 0)
                    {
                        <div class="comment user-comment">

                            <div class="info">
                                <a href="#">@Model.comments[i].email</a>
                                <span>@Model.comments[i].date</span>
                            </div>

                            <a class="avatar" href="#">
                                <img src="https://banner2.kisspng.com/20180716/lra/kisspng-logo-person-user-person-icon-5b4d2bd2236ca6.6010202115317841461451.jpg" width="35" alt="Profile Avatar" title="Amanda Quick" />
                            </a>

                            <p>@Model.comments[i].message</p>

                        </div>
                    }
                    else
                    {
                        <div class="comment author-comment">

                            <div class="info">
                                <a href="#">@Model.comments[i].email</a>
                                <span>@Model.comments[i].date</span>
                            </div>

                            <a class="avatar" href="#">
                                <img src="https://banner2.kisspng.com/20180716/lra/kisspng-logo-person-user-person-icon-5b4d2bd2236ca6.6010202115317841461451.jpg" width="35" alt="Profile Avatar" title="Amanda Quick" />

                            </a>
                            <p>@Model.comments[i].message</p>
                        </div>
                    }

                }

            </section>

        </div>
    </div>
</div>


<script>
    const element = document.getElementById('frmAdd');
    element.addEventListener('submit', event => {
        event.preventDefault(); sendData();
    });


    function sendData() {
        var frmData = $("#frmAdd").serialize();
        $.post("getComment", frmData, function (data) {
            if (data.status == false)
                alert('comment Dont Sent');
            else {
                addData($("#message").val(), $("#email").val())
                $("#message").val("");
                alert('Comment Sent Sucess')
            }
        });
    }


    function addData(message, mail) {
        var a = ' <div class="comment user-comment"><div class="info"><a href="#">' + mail +
            '</a > <span>' + Date.now() + '</span></div> <a class="avatar" href="#"><img src="https://banner2.kisspng.com/20180716/lra/kisspng-logo-person-user-person-icon-5b4d2bd2236ca6.6010202115317841461451.jpg" width="35" alt="Profile Avatar" title="Amanda Quick" /> </a>' +
            '<p>' + message + '</p> </div>';
        $(".comment-section").append(a);
    }
</script>



<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>




 <script>
     window.onload = function () {
         
      //   $('#reco').hide();
     };

 </script>

